.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  gap: 8px;
  padding: 0 0 12px;
  visibility: hidden;
  transition: background-color 0.5s, visibility 0.5s;
  background-color: transparent;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__avatar-container:hover .profile__avatar-btn {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.profile__avatar {
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  color: #212121;
  background-color: transparent;
  gap: 8px;
  opacity: 70%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  transition: opacity 0.5s;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  margin-left: auto;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  height: 52px;
  width: 149px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: #fcf5e5;
  padding: 0;
  align-self: end;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__avatar {
    height: 80px;
    width: 80px;
  }
  .profile__avatar-btn {
    top: 52px;
    left: 52px;
    padding: 0;
    margin: 0;
    height: 24px;
    width: 24px;
    background-color: rgba(33, 33, 33, 0.6);
    visibility: visible;
  }
  .profile__avatar-btn::after {
    content: "";
  }
  .profile__avatar-icon {
    padding: 4px 0 4px 8px;
  }
  .profile__name {
    font-size: 20px;
    margin: 12px 0 6px;
  }
  .profile__edit-btn {
    margin-top: 32px;
    justify-content: center;
  }
  .profile__add-btn {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
}
